<mat-sidenav-container class="side-nav">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/addressTypes'">Address Types</a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/audioVisualItems'">Audio Visual Items</a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/chargeTypes'">Charge Types</a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/companyTypes'">Company Types</a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/contactTypes'">Contact Types</a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/creditTypes'">Credit Types</a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/emailTypes'">Email Types</a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/fbItems'">Food and Beverage</a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/guestTypes'">Guest Types</a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/mailingLists'">Mailing Lists</a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/paymentMethods'">Payment Methods</a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/paymentTypes'">Payment Types</a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/roomSetups'">Room Setup Types</a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/setupItems'">Setup Items</a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/sources'">Source Types</a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/speakerTypes'">Speaker Types</a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/states'">States</a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/taskTemplates'">Task Template</a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/vendorTypes'">Vendor Types</a>
    </mat-nav-list>

  </mat-sidenav>
  <!--<mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>-->
</mat-sidenav-container>

