<h2 class="display-3">{{title}}</h2>

<p *ngIf="this.chargeTypeId && !chargeType"><em>Loading...</em></p>

<div class="form" [formGroup]="form" (ngSubmit)="onSumbit()">
  <div *ngIf="form.invalid && form.errors?.isDuplicate" class="alert alert-danger">
    <strong>ERROR</strong>:
    A charge type with the same <i>description</i> already exists.
  </div>

  <div class="form-group">
    <label for="chargeTypeDesc">Charge Type Description:</label>
    <input type="text" id="chargeTypeDesc" formControlName="chargeTypeDesc" required placeholder="charge Type Description..." class="form-control" />
    <div *ngIf="hasError('chargeTypeDesc')" class="invalid-feedback">
      <div *ngIf="form.get('chargeTypeDesc').errors?.required">
        Charge Type Description is required.
      </div>
    </div>
  </div>
</div>
<div class="form-group commands">
  <button type="submit" *ngIf="chargeTypeId" (click)="onSubmit()" class="btn btn-success" [disabled]="form.invalid">Save</button>
  <button type="submit" *ngIf="!chargeTypeId" (click)="onSubmit()" class="btn btn-success" [disabled]="form.invalid">Create New Charge Type</button>
  <button type="submit" [routerLink]="['/chargeTypes']" class="btn btn-default">Cancel</button>
  <button type="button" *ngIf="chargeTypeId" (click)="onDelete()" class="btn btn-danger">Delete</button>
</div>
