<h2 class="display-3">{{title}}</h2>

<p *ngIf="this.sourceId && !source"><em>Loading...</em></p>

<div class="form" [formGroup]="form" (ngSubmit)="onSumbit()">
  <div *ngIf="form.invalid && form.errors?.isDuplicate" class="alert alert-danger">
    <strong>ERROR</strong>:
    A Source Type with the same <i>description</i> already exists.
  </div>

  <div class="form-group">
    <label for="sourceDesc">Source Type Description:</label>
    <input type="text" id="sourceDesc" formControlName="sourceDesc" required placeholder="Source Type Description..." class="form-control" />
    <div *ngIf="hasError('sourceDesc')" class="invalid-feedback">
      <div *ngIf="form.get('sourceDesc').errors?.required">
        Source Type Description is required.
      </div>
    </div>

  </div>
</div>

<div class="form-group commands">
  <button type="submit" *ngIf="sourceId" (click)="onSubmit()" class="btn btn-success" [disabled]="form.invalid">Save</button>
  <button type="submit" *ngIf="!sourceId" (click)="onSubmit()" class="btn btn-success" [disabled]="form.invalid">Create New Source Type</button>
  <button type="submit" [routerLink]="['/sources']" class="btn btn-default">Cancel</button>
  <button type="button" *ngIf="sourceId" (click)="onDelete()" class="btn btn-danger">Delete</button>
</div>
