<h2 class="display-3">{{title}}</h2>

<p *ngIf="this.avId && !avItem"><em>Loading...</em></p>

<div class="form" [formGroup]="form" (ngSubmit)="onSumbit()">
  <div *ngIf="form.invalid && form.errors?.isDuplicate" class="alert alert-danger">
    <strong>ERROR</strong>:
    An audio visual item with the same <i>description</i> already exists.
  </div>

  <div class="form-group">
    <label for="avDesc">Audio Visual Item Description:</label>
    <input type="text" id="avDesc" formControlName="avDesc" required placeholder="Audio Visual Item Description..." class="form-control" />
    <div *ngIf="hasError('avDesc')" class="invalid-feedback">
      <div *ngIf="form.get('avDesc').errors?.required">
        Audio Visual Item Description is required.
      </div>
    </div>
  </div>
</div>
<div class="form-group commands">
  <button type="submit" *ngIf="avId" (click)="onSubmit()" class="btn btn-success" [disabled]="form.invalid">Save</button>
  <button type="submit" *ngIf="!avId" (click)="onSubmit()" class="btn btn-success" [disabled]="form.invalid">Create New Audio Visual Item</button>
  <button type="submit" [routerLink]="['/AudioVisualItems']" class="btn btn-default">Cancel</button>
  <button type="button" *ngIf="avId" (click)="onDelete()" class="btn btn-danger">Delete</button>
</div>
