<h2 class="display-3">{{title}}</h2>

<p *ngIf="this.keyId && !personCeCredit"><em>Loading...</em></p>

<div class="row">
  <div class="col-12">
    <div class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div class="row">
          <div class="col-3">
            <div class="form-group">
              <label for="creditDate">Credit Date:</label>
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                </div>
                <input class="form-control datepicker" placeholder="Select date" name="creditDate" id="creditDate" formControlName="creditDate" ngbDatepicker #d1="ngbDatepicker" (click)="d1.toggle()" type="text" [(ngModel)]="creditDateModel" />
              </div>
            </div>
          </div>
          <div class="col-9">
            <label for="title">Title:</label>
            <input type="text" id="title" formControlName="title" placeholder="Enter title..." class="form-control" />
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label for="meetingCode">Meeting:</label>
              <input type="text" id="meetingCode" formControlName="meetingCode" placeholder="Enter Meeting Code..." class="form-control" />
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label for="regCode">Reg Type:</label>
              <input type="text" id="regCode" formControlName="regCode" placeholder="Enter Reg Type..." class="form-control" />
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label for="sessionCode">Session:</label>
              <input type="text" id="sessionCode" formControlName="sessionCode" placeholder="Enter Session Code..." class="form-control" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label for="creditTypeCode">Credit Type:</label>
              <mat-form-field *ngIf="creditTypes">
                <mat-label>Select a Credit Type</mat-label>
                <mat-select id="creditTypeCode" formControlName="creditTypeCode" (selectionChange)="onCreditTypeSelected($event)">
                  <mat-option *ngFor="let creditType of creditTypes" [value]="creditType.creditTypeCode">{{creditType.creditTypeCode}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label for="creditUnits">Units:</label>
              <input type="text" id="creditUnits" formControlName="creditUnits" placeholder="Enter Credit Units..." class="form-control" />
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" id="selfReported" formControlName="selfReported" checked class="custom-control-input" ng-model="checked" />
                <label class="custom-control-label" for="selfReported">Self Reported</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group commands">
      <button type="submit" *ngIf="keyId" (click)="onSubmit()" class="btn btn-success" [disabled]="form.invalid">Save</button>
      <button type="submit" *ngIf="!keyId" (click)="onSubmit()" class="btn btn-success" [disabled]="form.invalid">Add New Credit</button>
      <button type="submit" [routerLink]="['/person', personId]" class="btn btn-default">Cancel</button>
      <button type="button" *ngIf="keyId" (click)="onDelete()" class="btn btn-danger">Delete</button>
    </div>


  </div>
</div>
