<p *ngIf="!companyPeople"><em>Loading...</em></p>

<table mat-table [dataSource]="companyPeople" class="mat-elevation-z8" [hidden]="!companyPeople" matSort (matSortChange)="loadData()"
       matSortActive="{{defaultSortColumn}}" matSortDirection="{{defaultSortOrder}}">

  <ng-container matColumnDef="prefix">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Prefix</th>
    <td mat-cell *matCellDef="let person">
      {{person.namePrefix}}
    </td>
  </ng-container>

  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
    <td mat-cell *matCellDef="let person">
      {{person.firstName}}
    </td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
    <td mat-cell *matCellDef="let person">
      <a [routerLink]="['/person', person.personId]">
        {{person.lastName}}
      </a>
    </td>
  </ng-container>

  <ng-container matColumnDef="suffix">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Suffix</th>
    <td mat-cell *matCellDef="let person">
      {{person.nameSuffix}}
    </td>
  </ng-container>

  <ng-container matColumnDef="peopleType">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>People Type</th>
    <td mat-cell *matCellDef="let person">
      {{person.peopleTypeDesc}}
    </td>
  </ng-container>

  <ng-container matColumnDef="contactType">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact Type</th>
    <td mat-cell *matCellDef="let person">
      {{person.contactTypeDesc}}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
</table>
